:root {
  --gunmetal: #112b34;
  --indigo: #203851;
  --purple: #b642da;
  --text-color: #c3c3c3;
  --backgroundblack: #21211f;
  --max-width-Desktop: 1400px;
  --standard-width: 86%;
  --border-radius: 16px;
  --h2-margin-bottom: 15px;
  --height-footer:270px;
  --descriptions-width: 70%;
  --feature-img-grayscale: 65%;
}

* {
  color: var(--text-color);
  padding: 0px;
  margin: 0px;
  letter-spacing: 1.1px;
  word-spacing: 1px;
  line-height: 1.4em;
  scrollbar-width: auto;
  scrollbar-color: #212121 #454545;
}
body,
html {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
body{
  position: relative;
  z-index: -5;
}

/*scroll bar */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #454545;
}

*::-webkit-scrollbar-thumb {
  background-color: #212121;
  border-radius: 10px;
  border: 3px none #ffffff;
}

.GreenGradient {
  background: rgb(17, 43, 52);
  background: -moz-linear-gradient(
    90deg,
    rgba(17, 43, 52, 1) 0%,
    rgba(33, 33, 31, 1) 100%,
    rgba(14, 34, 41, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(17, 43, 52, 1) 0%,
    rgba(33, 33, 31, 1) 100%,
    rgba(14, 34, 41, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(17, 43, 52, 1) 0%,
    rgba(33, 33, 31, 1) 100%,
    rgba(14, 34, 41, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#112b34",endColorstr="#0e2229",GradientType=1);
}
.BlackGradient {
  background: -moz-linear-gradient(
    90deg,
    rgba(38, 38, 37, 1) 0%,
    rgba(21, 21, 19, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(38, 38, 37, 1) 0%,
    rgba(21, 21, 19, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgb(38, 38, 37, 1) 0%,
    rgba(21, 21, 19, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262625",endColorstr="#151513",GradientType=1);
}
.PinkGradient {
  background: hsla(286, 67%, 56%, 1);

  background: linear-gradient(
    135deg,
    hsla(286, 67%, 56%, 1) 0%,
    hsla(286, 71%, 37%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(286, 67%, 56%, 1) 0%,
    hsla(286, 71%, 37%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(286, 67%, 56%, 1) 0%,
    hsla(286, 71%, 37%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B642DA", endColorstr="#811BA0", GradientType=1 );
}
.Container100 {
  width: 100%;
}
.Container50 {
  width: 50%;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 35px;
}
p {
  font-size: 17px;
}

/* header */

header {
  height: 100vh;
  width: 100%;
}

/* nav */

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 4;
}

.navContainer {
  display: flex;
  align-items: center;
  width: 86%;
  justify-content: space-between;
  max-width: var(--max-width-Desktop);
}
.navContainer img {
  transform: translateY(6px);
}
label {
  display: flex;
}
label ul {
  width: 300px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  display: flex;
  margin-right: 40px;
}
label li {
  display: flex;
  align-items: center;
}
#menu-checkbox {
  display: none;
}
.menu {
  height: 100vh;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: var(--backgroundblack);
  z-index: 3;
  transition: width 0.5s;
}
.menu ul {
  display: block;
  flex-direction: column;
  list-style: none;
  width: 250px;
}
.menu a {
  font-size: 30px;
  text-decoration: none;
}
.menu a:hover {
  color: var(--purple);
}
.navContainer a {
  text-decoration: none;
  color: white;
}

#contact-btn {
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 5px 10px;
  color: white;
  transition: all 0.3s ease-in-out;
}

/* hero  */
#hero {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  background-color: rgb(168, 166, 169);
}
#hero h1{
  color: var(--indigo);
  z-index: 1;
}
.hiddenText {
  width: 0px;
  height: 0px;
  visibility: hidden;
}
#hero svg{
  position: absolute;
  bottom: 0px;
  width: 100%;
  top: calc(100vh - 200px);
}
.hero-swiper{
  width: 300px;
  height: 60px;
  z-index: 1;
}
.hero-swiper .swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-swiper span{
  color: var(--purple);
  font-weight: bold;
  font-size: 40px;
}

#particles-js-hero {
  position: absolute;
  width: 100vw;
  height: 100vh;
} 

/* main */

main {
  width: 100%;
  margin-bottom: var(--height-footer);
}

/* featues */

#features {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
.feature {
  height: 50%;
  width: 86%;
  display: flex;
  transition: all 0.2s ease-in-out;
  position: relative;
  max-width: var(--max-width-Desktop);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 42%;
}
.feature-description h2,
.feature-description p {
  width:100%;
}
.feature-description h2 {
  text-align: center;
  margin-bottom: var(--h2-margin-bottom);
}
.feature-description p {
  text-align: justify;
}
.feature img {
  width: 42%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(var(--feature-img-grayscale));
  transition: all 0.2s ease-in-out;
  -webkit-border-top-left-radius: 70px;
-webkit-border-top-right-radius: 222px;
-webkit-border-bottom-right-radius: 40px;
-webkit-border-bottom-left-radius: 222px;
-moz-border-radius-topleft: 70px;
-moz-border-radius-topright: 222px;
-moz-border-radius-bottomright: 40px;
-moz-border-radius-bottomleft: 222px;
border-top-left-radius: 70px;
border-top-right-radius: 222px;
border-bottom-right-radius: 40px;
border-bottom-left-radius: 222px;
}
.feature:hover img {
  filter: grayscale(0%);
}

#second-feature{
  margin-top: 50px;
  margin-bottom: 100px;
}

/* projects */
.projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.project {
  display: flex;
  align-items: center;
  height: 500px;
  max-width: calc(var(--max-width-Desktop) + 250px);
}
#first-project{
  margin-top:50px;
}
.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-description h2,
.project-description p {
  width: var(--descriptions-width);
}
.project-description h2 {
  text-align: center;
  margin-bottom: var(--h2-margin-bottom);
}
.project-description p {
  margin-bottom: 30px;
  text-align: justify;
}
.checkout-btn {
  color: var(--gunmetal);
  font-size: 19px;
  border-radius: var(--border-radius);
  border: 0px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  padding: 5px 10px;
  height: 50px;
  font-weight: bold;
  z-index: 1;
  min-width: 155px;
}
.project img {
  max-height: 400px;
  object-fit: contain;
}
#kiendo-net img{
  height: 60%;
  filter: drop-shadow(20px 15px 4px #171717)
}

/* team */

#team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#team h2 {
  margin-bottom: 30px;
  font-size: 40px;
}
#team h3{
  font-size: 25px;
}
#particles-js-team{
  position: absolute;
  width: 100%;
  height: 95%;
}
.developers-slide-container, .mentors-slide-container{
  max-width: calc(var(--max-width-Desktop) + 250px);
  width: 100%;
  padding: 40px 0;
  margin-bottom: 40px;
}
.swiper-slide{
  display: flex !important;
  justify-content: center;
}
.card-wrapper{
  margin-top: 150px;
  margin-right: 0px;
}
.swiper-pagination-mentors .custom-pagination-bullet, .swiper-pagination-developers .custom-pagination-bullet {
  background-color: var(--purple);
}
.swiper-pagination-developers, .swiper-pagination-mentors{
  display: flex;
  justify-content: center;
}

.participant {
  position: relative;
  border-radius: 5%;
  width: 25%;
  min-width: 300px;
  height: 420px;
  filter: blur(0px);
  transition: all 1.2s ease-in-out;
  margin-right: 0px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.participant img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  top: -120px;
  left: calc(50% - 75px);
}
.participant h2 {
  text-align: center;
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
  height: 100px;
  text-align: center;
  top: 50px;
  line-height: 1.1;
}
.participant__position {
  text-align: center;
  position: absolute;
  bottom: 55%;
  width: 100%;
  text-align: center;
}
.participant__description {
  text-align: justify;
  position: absolute;
  width: 80%;
  height: 180px;
  bottom: 30px;
  left: 10%;
}

#first-mentor,
#second-mentor,
#third-mentor {
  height: 450px;
}
#first-mentor .participant__description,
#second-mentor .participant__description,
#third-mentor .participant__description {
  bottom: 55px;
}

.swiper-pagination-bullets {
  margin: 15px 5px;
  height: 15px;
}

.swiper-pagination-developers .swiper-pagination-bullet,
.swiper-pagination-mentors .swiper-pagination-bullet {
  width: 12px; /* Adjust the width to your desired size */
  height: 12px; /* Adjust the height to your desired size */
}

/* partners */

#partners {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#partners H2{
  margin-bottom: 50px;
}

#partners img{
  height: 150px;
  filter: grayscale(0.6);
  transition: ease all 0.5s;
}
#partners img:hover{
  filter: grayscale(0);
  transform: scale(1.2);
}
.imgContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  flex-wrap: wrap;
  margin-bottom: 50px;
  max-width: 800px;
}


/* form and contact */
#contact {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.contactContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86%;
  height: 100%;
  max-width: var(--max-width-Desktop);
}
form {
  position: relative;
  width: 40%;
}
.app-title p {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 70vw;
  font-size: 15px;
}
.app-title {
  font-size: 35px;
  font-weight: bold;
}
.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}
.app-form {
  height: 350px;
}

.app-form-group {
  width: 100%;
  margin-bottom: 15px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: var(--purple);
}
.agreement{
  font-size: 8px;
  margin-bottom: 20px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}
#form-btn {
  position: absolute;
  width: 100px;
  color: var(--text-color);
  background: hsla(286, 67%, 56%, 1);

  background: linear-gradient(
    135deg,
    hsla(286, 67%, 56%, 1) 0%,
    hsla(286, 71%, 37%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(286, 67%, 56%, 1) 0%,
    hsla(286, 71%, 37%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(286, 67%, 56%, 1) 0%,
    hsla(286, 71%, 37%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B642DA", endColorstr="#811BA0", GradientType=1 );
  transition: all 0.5s ease-in-out;
}
#form-btn:hover {
  transform: scale(1.1);
}
.contact-data ul {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-data li {
  display: flex;
  align-items: center;
  list-style: none;
}
.contact-data li img {
  height: 32px;
  margin-right: 20px;
}
/* footer */

footer {
  height: 300px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: -2;
  bottom: 0px;
}
.footerContainer {
  display: flex;
  justify-content: space-between;
  width: 86%;
  position: relative;
  top: 70px;
  max-width: var(--max-width-Desktop);
}
.footerContainer li {
  display: flex;
}

.footerContainer li img {
  margin-right: 10px;
}
#contact-Email, #contact-Brand{
  margin-bottom:5px;
}
.segments {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.segments li a {
  text-decoration: none;
  pointer-events: auto;
  cursor: pointer;
}
.contact-footer{
  position: relative;
  height: 100px;
}
#copyrights {
  position: absolute;
  bottom: -90px;
  font-size: 10px;
}

@media only screen and (max-width: 1100px) {
  /*header */
  #hero svg{
    top: calc(100vh - 80px);
  }
  /*main*/
  .feature img{
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    filter: grayscale(20%);
  }
  .feature{
    width: 86%;
    position: relative;
    padding-top: 180px;
  }
  .feature-description{
    
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 5%;
    -webkit-border-top-left-radius: 70px;
    -webkit-border-top-right-radius: 11px;
    -webkit-border-bottom-right-radius: 62px;
    -webkit-border-bottom-left-radius: 33px;
    -moz-border-radius-topleft: 70px;
    -moz-border-radius-topright: 11px;
    -moz-border-radius-bottomright: 62px;
    -moz-border-radius-bottomleft: 33px;
    border-top-left-radius: 70px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 62px;
    border-bottom-left-radius: 33px;
    
z-index: 1;
    background-color: var(--backgroundblack);
  }
  #partners img{
    filter: grayscale(0)
  }


  /*footer*/
}
@media only screen and (max-width: 850px) {
  * {
    line-height: 1.2em;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  p {
    font-size: 15px;
  }
  /*header */
  label ul {
    display: none;
  }
  #contact-btn {
    margin-right: 15px;
  }
  .hamburger {
    position: relative;
    background-color: white;
    top: 17px;
    width: 30px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    height: 4px;
  }
  .hamburger:after,
  .hamburger:before {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #ffffff;
  }
  label .hamburger:before {
    top: -10px;
  }

  label .hamburger:after {
    bottom: -10px;
  }
  label input:checked + .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: var(--purple);
  }

  label input:checked + .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: var(--purple);
    bottom: 0;
  }

  label input:checked + .hamburger:before {
    -webkit-transform: rotate(90deg);
    background-color: var(--purple);
    transform: rotate(90deg);
    top: 0;
  }
  /*main*/
  /* feature */
  
  /* team */
  #first-mentor,
  #second-mentor,
  #third-mentor {
    height: 430px;
  }
  .participant__description{
    line-height: 1.5rem;}
  #first-mentor .participant__description,
#second-mentor .participant__description,
#third-mentor .participant__description {
  bottom: 40px;
}
  #first-dev,
  #second-dev,
  #third-dev {
    height: 410px;
  }

  /* contact */
  .contactContainer {
    flex-direction: column;
    justify-content: space-around;
  }
  form {
    width: 100%;
  }
  .app-title p {
    width: 100%;
    text-align: justify;
  }
  .contact-data {
    margin-bottom: 50px;
  }
  #partners .imgContainer{
    flex-direction: column;
    align-items: center;
    height: 350px;
    justify-content: space-between;
  }
  /*footer*/
  .footerContainer {
    flex-direction: column;
    height: 175px;
    top: 30px;
  }
  #copyrights{
    bottom: -120px;
  }
}
@media only screen and (max-width: 750px) {
  /* header */
  .menu {
    width: 100vw;
  }
  /* main */
  main {
    margin-bottom: 380px;
  }

  /*projects */
  .project {
    flex-direction: column;
    height: auto;
    position: relative;
  }
  #first-project{
    margin-top: 0px;
    padding-top: 50%;
  }
  #first-project img{
    position: absolute;
    top: 0px;
  }
  #first-project button{
    margin-bottom: 40px;
  }
  .project img {
    margin: 20px 0px;
  }
  .project-description {
    width: 90%;
  }
  .project-description h2 {
    text-align: center;
    margin-top: 50px;
  }
  .checkout-btn {
    width: 50%;
  }
  /*team*/
  #team {
    padding-top: 50px;
  }
  
  /* footer */
  footer {
    height: 400px;
  }
  .segments {
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    max-width: 250px;
  }
  .categories,
  .social {
    margin: 20px 10px 10px 0px;
  }
  #copyrights{
    bottom: -250px;
  }
}
@media only screen and (max-width: 370px) {
  /* header */
  #hero svg{
    top: calc(100vh - 50px);
  }
  #contact-btn {
    display: none;
  }
  .hamburger {
    top: 0px;
  }
  /* main */
  
  #first-mentor p {
    font-size: 15px;
  }
  .contact-data {
    margin-bottom: 70px;
  }
  .contact-data li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .contact-data li img {
    margin: 0px;
  }
  #form-btn {
    width: 150px;
    left: calc(50% - 75px);
  }

  #partners img{
    width: 80%;
    height: auto;
  }
  .imgContainer{
    height: auto;
  }

  /* footer */
  #copyrights{
    bottom: -280px;
  }
}
