:root {
  --gunmetal: #112b34;
  --indigo: #203851;
  --purple: rgb(182, 66, 218);
  --text-color: rgb(195, 195, 195);
  --backgroundblack: #21211f;
}
* {
  padding: 0px;
  margin: 0px;
  letter-spacing: 1.2px;
  word-spacing: 1px;
  line-height: 1.5em;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 3px;
}
body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: calc((100vw - 1200px) / 2);
  width: 1200px;
  height: 80px;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
  z-index: 2;
}
.header-scrolled {
  background-color: var(--gunmetal);
}
nav {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
nav h2 {
  font-size: 30px;
}
#brandName {
  color: white;
  cursor: pointer;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
nav li {
  margin-right: 20px;
}
nav input {
  display: none;
}
a {
  font-size: 15px; /* ustawia rozmiar czcionki */
  text-decoration: none; /* usuwa podkreślenie */
  color: white;
}
nav label {
  display: flex;
  align-items: center;
}
#contact-btn {
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background: hsla(286, 67%, 56%, 1);

  background: linear-gradient(
    135deg,
    hsla(286, 67%, 56%, 1) 0%,
    hsla(286, 71%, 37%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(286, 67%, 56%, 1) 0%,
    hsla(286, 71%, 37%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(286, 67%, 56%, 1) 0%,
    hsla(286, 71%, 37%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B642DA", endColorstr="#811BA0", GradientType=1 );
  border-radius: 14px;
  padding: 5px 10px;
  color: white;
  margin-right: 0px;
}
.hero {
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  background: rgb(17, 43, 52);
  background: -moz-linear-gradient(
    122deg,
    rgba(17, 43, 52, 1) 0%,
    rgba(33, 33, 31, 1) 100%,
    rgba(14, 34, 41, 1) 100%
  );
  background: -webkit-linear-gradient(
    122deg,
    rgba(17, 43, 52, 1) 0%,
    rgba(33, 33, 31, 1) 100%,
    rgba(14, 34, 41, 1) 100%
  );
  background: linear-gradient(
    122deg,
    rgba(17, 43, 52, 1) 0%,
    rgba(33, 33, 31, 1) 100%,
    rgba(14, 34, 41, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#112b34",endColorstr="#0e2229",GradientType=1);
  /* background-image: linear-gradient(
    145deg,
    hsl(196deg 33% 18%) 0%,
    hsl(196deg 38% 21%) 29%,
    hsl(191deg 60% 38%) 90%,
    hsl(189deg 75% 60%) 99%,
    hsl(187deg 100% 82%) 100%,
    hsl(300deg 100% 99%) 100%
  ); */
}
#particles-js {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}
.wrapper h1 {
  font-size: 45px;
  position: relative;
  top: 0px;
  left: 0px;
  line-height: 1em;
  letter-spacing: 1px;
}
.wrapper {
  cursor: default;
  box-sizing: content-box;
  height: 60px;
  padding: 50px 30px;
  display: flex;
  border-radius: 8px;
}
.words {
  overflow: hidden;
}
.words span {
  display: block;
  font-weight: bold;
  font-size: 45px;
  height: 100%;
  padding-left: 10px;
  /* color: var(--purple); */
  background-image: linear-gradient(45deg, #b642da, #811ba0);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: spin_words 10s infinite;
}
@keyframes spin_words {
  100%,
  0% {
    transform: translateY(-16%);
  }
  50% {
    transform: translateY(-116%);
  }
}

.features {
  position: absolute;
  top: 100vh;
  width: 100vw;
  background: -moz-linear-gradient(
    122deg,
    rgba(33, 33, 31, 1) 0%,
    rgba(23, 23, 21, 1) 100%
  );
  background: -webkit-linear-gradient(
    122deg,
    rgba(33, 33, 31, 1) 0%,
    rgba(23, 23, 21, 1) 100%
  );
  background: linear-gradient(
    122deg,
    rgba(33, 33, 31, 1) 0%,
    rgba(23, 23, 21, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#21211f",endColorstr="#171715",GradientType=1);
  height: 1000px;
}
.feature {
  width: 100vw;
  cursor: pointer;
  height: 500px;
  display: flex;
}
.feature:hover {
  transition: background-color 100ms ease-in-out;
  background-color: #3e3e3b;
}
.feature:hover img {
  transition: filter 100ms ease-in-out;
  filter: grayscale(0);
}
.feature img {
  width: 50vw;
  height: 500px;
  object-fit: cover;
  filter: grayscale(100%);
}
.feature-description {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50%;
}
.checkout-btn {
  border: 1px solid #122e36;
  font-size: 19px;
  border-radius: 16px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 4px 4px 4px 0px rgbA(0, 0, 0, 0.25);
  background-color: var(--gunmetal);
  width: 150px;
  margin-left: 20%;
  margin-top: 40px;
  color: white;
  height: 50px;
  font-weight: bold;
}
.feature-description h2,
.feature-description p {
  width: 60%;
}
.feature-description h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.feature-description p {
  font-size: 17px;
}
.features .fade-from-left {
  opacity: 1;
}
.catch-phrase {
  position: absolute;
  top: calc(100vh + 1000px);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--backgroundblack);
  justify-content: center;
  color: white;
}
#glass-btn {
  cursor: pointer;
  color: white;
  width: 180px;
  height: 40px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.catch-phrase h2,
.catch-phrase p,
.catch-phrase button {
  margin-bottom: 20px;
  z-index: 2;
}
#catch-phrase-video {
  filter: brightness(0.7);
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  top: 200vh;
}
.catch-phrase p {
  display: inline;
}
.projects {
  width: 100vw;
  height: 1000px;
  position: absolute;
  top: calc(200vh + 1000px);
  background: rgb(39, 67, 97);
  background: -moz-linear-gradient(
    122deg,
    rgba(39, 67, 97, 1) 0%,
    rgba(33, 33, 31, 1) 100%,
    rgba(32, 56, 81, 1) 100%
  );
  background: -webkit-linear-gradient(
    122deg,
    rgba(39, 67, 97, 1) 0%,
    rgba(33, 33, 31, 1) 100%,
    rgba(32, 56, 81, 1) 100%
  );
  background: linear-gradient(
    122deg,
    rgba(39, 67, 97, 1) 0%,
    rgba(33, 33, 31, 1) 100%,
    rgba(32, 56, 81, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#274361",endColorstr="#203851",GradientType=1);
}
.project {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 500px;
  color: white;
}
.project-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.project-description h2 {
  margin-bottom: 10px;
  margin-left: 20%;
}
.project-description p {
  width: 60%;
  margin-left: 20%;
}
.project img {
  width: 50vw;
  height: 500px;
}
.team {
  position: absolute;
  top: calc(200vh + 2000px);
  width: 100vw;
  height: 1000px;
  background: rgb(33, 33, 31);
  background: -moz-linear-gradient(
    122deg,
    rgba(33, 33, 31, 1) 0%,
    rgba(33, 33, 31, 1) 100%,
    rgba(23, 23, 21, 1) 100%
  );
  background: -webkit-linear-gradient(
    122deg,
    rgba(33, 33, 31, 1) 0%,
    rgba(33, 33, 31, 1) 100%,
    rgba(23, 23, 21, 1) 100%
  );
  background: linear-gradient(
    122deg,
    rgba(33, 33, 31, 1) 0%,
    rgba(33, 33, 31, 1) 100%,
    rgba(23, 23, 21, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#21211f",endColorstr="#171715",GradientType=1);
  z-index: -2;
}
#small-ping-circle {
  width: 25vw;
  height: 25vw;
  border-radius: 20vw;
  background-color: #5b3f73;
  position: absolute;
  top: -12vh;
  left: -5vw;
  z-index: -1;
}
.participant-type {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  bottom: 100px;
}
.active {
  color: #ac6be3;
}
.participant {
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 0.7s ease-out;
  box-shadow: 2px 4px 4px 0px rgb(0, 0, 0);
}
.changeVis {
  transform: translateY(-1000px);
}
.participant-data {
  width: 70%;
  line-height: 1em;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.participant-data h2,
.participant-data h3,
.participant-data ul {
  line-height: 1em;
}
#first-dev,
#first-mentor,
#third-dev {
  width: 550px;
  height: 30%;
  border-radius: 50px;
  position: absolute;
  background: hsla(0, 2%, 26%, 1);

  background: linear-gradient(
    135deg,
    hsla(0, 2%, 26%, 1) 0%,
    hsla(0, 2%, 19%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(0, 2%, 26%, 1) 0%,
    hsla(0, 2%, 19%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(0, 2%, 26%, 1) 0%,
    hsla(0, 2%, 19%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#444141", endColorstr="#312F2F", GradientType=1 );
}
#first-dev {
  top: 80px;
  right: 10vw;
}
#second-dev,
#second-mentor {
  width: 600px;
  height: 33%;
  border-radius: 50px;
  position: absolute;
  background: hsla(0, 3%, 24%, 1);

  background: linear-gradient(
    135deg,
    hsla(0, 3%, 24%, 1) 0%,
    hsla(0, 3%, 17%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(0, 3%, 24%, 1) 0%,
    hsla(0, 3%, 17%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(0, 3%, 24%, 1) 0%,
    hsla(0, 3%, 17%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3E3A3A", endColorstr="#2E2B2B", GradientType=1 );
  z-index: -2;
}
#first-mentor {
  top: calc(300px + 1000px);
  right: 10vw;
  opacity: 0;
}
#second-mentor {
  top: calc(200px + 1000px);
  right: 45vw;
  opacity: 0;
}
#second-dev {
  top: 200px;
  right: 45vw;
}
#third-dev {
  bottom: 10vh;
  right: 25vw;
}
.participant img {
  height: 75%;
  position: relative;
  border-radius: 50%;
  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.25);
  left: -10%;
}
#Devs {
  left: 50px;
  bottom: 180px;
}
#Mentors {
  left: 50px;
  bottom: 140px;
}
#big-background-circle {
  width: 60vw;
  height: 60vw;
  border-radius: 50vw;
  background-color: var(--indigo);
  position: absolute;
  top: -30vw;
  right: -10vw;
  z-index: -1;
}
#contact {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: calc(200vh + 3000px);
  width: 100vw;
  height: 700px;
  color: white;
  background-color: var(--gunmetal);
}
.form {
  margin-top: 50px;
  width: 30%;
  height: 400px;
}
.line {
  width: 40px;
  height: 5px;
  background-color: var(--purple);
}
.app-title {
  font-size: 35px;
  font-weight: bold;
}
.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}
.app-form {
  height: 300px;
}

.app-form-group {
  width: 100%;
  margin-bottom: 15px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}
#form-button {
  background: hsla(286, 67%, 56%, 1);

  background: linear-gradient(
    135deg,
    hsla(286, 67%, 56%, 1) 0%,
    hsla(286, 71%, 37%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(286, 67%, 56%, 1) 0%,
    hsla(286, 71%, 37%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(286, 67%, 56%, 1) 0%,
    hsla(286, 71%, 37%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B642DA", endColorstr="#811BA0", GradientType=1 );
}
.app-form-button:hover {
  font-size: 19px;
  color: var(--purple);
}
.contact-data img {
  height: 32px;
  margin-right: 20px;
}
.contact-data {
  margin-top: 100px;
  height: 300px;
  border-radius: 10%;
  width: 30%;
}
.contact-data ul {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  list-style: none;
  height: 350px;
}
.contact-data li {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.footerDiv {
  position: absolute;
  z-index: -10;
  height: 300px;
  width: 100vw;
  top: calc(200vh + 3700px);
}
footer {
  display: flex;
  position: fixed;
  z-index: -5;
  bottom: 0px;
  justify-content: center;
  height: 300px;
  width: 100vw;
  color: var(--text-color);
  background-color: var(--gunmetal);
}
.contact-footer {
  color: white;
}
.contact-footer li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.footerContainer {
  position: absolute;
  bottom: 100px;
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.segments {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.segments ul {
  margin-top: 10px;
}
.segments li:hover {
  color: var(--purple);
  cursor: pointer;
}

footer li {
  list-style-type: none;
}
.fade-in-left,
.fade-in-right {
  opacity: 0;
}
.fade-in-left.appear {
  opacity: 1;
  animation: fadeFromLeft 0.8s ease-in-out;
}
.fade-in-right.appear {
  opacity: 1;
  animation: fadeFromRight 0.8s ease-in-out;
}
.fade-in {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.fade-in.appear {
  opacity: 1;
}

@keyframes fadeFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1300px) {
  label ul {
    display: none;
  }
  label .hamburger {
    position: absolute;
    top: 38px;
    right: 50px;
    width: 30px;
    height: 4px;
    background: #ffffff;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  label .hamburger:after,
  label .hamburger:before {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #ffffff;
  }

  label .hamburger:before {
    top: -10px;
  }

  label .hamburger:after {
    bottom: -10px;
  }

  label input:checked + .menu {
    box-shadow: 0 0 0 100vw #cbcbcb, 0 0 0 100vh #cbcbcb;
    border-radius: 0;
  }

  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
  }

  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
  }

  label input:checked + .menu + ul {
    opacity: 1;
  }

  label ul {
    z-index: 200;
    position: absolute;
    list-style: none;
    top: 500px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.4s 0s ease-in-out;
  }

  label a {
    font-size: 50px;
    display: block;
    color: black;
    text-decoration: none;
    transition: 0.2s ease-in-out;
  }
  label a:hover {
    color: var(--purple);
    text-decoration: underline;
  }
  a {
    font-size: 15px; /* ustawia rozmiar czcionki */
    text-decoration: none; /* usuwa podkreślenie */
    color: white;
  }
  #contact-btn {
    position: relative;
    font-size: 15px;
    width: auto;
    right: 100px;
    top: 0px;
  }
  header {
    left: calc((100vw - 1000px) / 2);
    width: 1000px;
  }
  .wrapper h1,
  .words span {
    font-size: 35px;
  }
  #first-dev {
    top: 40px;
    right: 20px;
  }
  #second-dev {
    top: 300px;
    left: 80px;
  }
  #third-dev {
    bottom: 50px;
    right: 100px;
  }
  #first-mentor {
    top: 1600px;
  }
  #second-mentor {
    left: 100px;
  }
  .footerContainer {
    width: 90vw;
  }
}
@media only screen and (max-width: 500px) {
}
@media only screen and (max-width: 370px) {
}
