<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cell Painting</title>
    <link rel="stylesheet" href="../css/projects-template.css" />
  </head>
  <body>
    <header>
      <nav id="nav">
        <a href="../index.html"><h2 id="brandName">Logo</h2></a>
        <label>
          <input type="checkbox" />
          <span class="menu"> <span class="hamburger"></span> </span>
          <ul>
            <li><a href="../index.html#Home">Home</a></li>
            <li><a href="../index.html#team">Team</a></li>
            <li><a href="../index.html#projects">Projects</a></li>
            <li><a href="../index.html#contact">Contact</a></li>
          </ul>
        </label>
      </nav>
    </header>

    <div class="hero">
      <div class="project">
        <h2>Cell Painting</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio
          consectetur quaerat, veritatis ab sunt sit. Fugit quisquam quo ad
          placeat. Eveniet, cumque recusandae libero qui dolorem delectus at
          harum. Ipsa soluta adipisci.
        </p>
      </div>
      <img src="../img/cellpainting.jpg" alt="cell-Painting-project" />
    </div>
    <div class="project-description">
      <div class="container">
        <h2>
          <p
            style="color: var(--purple); display: inline-block; font-size: 30px"
          >
            Lorem, ipsum dolor
          </p>
          sit amet consectetur adipisicing elit. Doloremque, at.
        </h2>
        <ul>
          <li>
            <h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro
              sunt voluptate repellat iste placeat tempora quos. Quas dolores
              dolorum odio maxime veritatis quisquam nesciunt, culpa id
              reiciendis, doloremque, optio nam!
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
              incidunt ullam nostrum, officia assumenda quia at? Molestiae ad
              non nemo ducimus consequatur aut quidem consequuntur natus? Nemo
              nisi natus tempore cupiditate magnam fugiat distinctio officia sit
              libero amet quam, incidunt cumque architecto error beatae dolor
              voluptates, omnis porro commodi quasi.
            </p>
          </li>
        </ul>
        <div class="images">
          <img src="../img/microscope.png" alt="microscope" /><img
            src="../img/right-arrow.png"
            alt="arrow"
          /><img src="../img/deep-learning.png" alt="deep-learning" /><img
            src="../img/right-arrow.png"
            alt="arrow"
          /><img src="../img/scientist.png" alt="scientist" />
        </div>
      </div>
    </div>
    <div class="software">
      <h2 style="display: inline-block">
        CHECK OUR <span style="color: var(--purple)">SOFTWARE</span>!
      </h2>
      <div class="software-images">
        <div class="image-container fade-in">
          <img
            class="blur-img"
            id="first-img"
            src="../img/software-1.png"
            alt="software demo"
          />
          <div class="overlay"><img src="../img/zoom.png" alt="zoom" /></div>
        </div>
        <div class="image-container fade-in">
          <img
            class="blur-img"
            id="second-img"
            src="../img/software-2.png"
            alt="software demo 2"
          />
          <div class="overlay"><img src="../img/zoom.png" alt="zoom" /></div>
        </div>
        <div class="image-container fade-in">
          <img
            class="blur-img"
            id="third-img"
            src="../img/software-3.jpg"
            alt="software demo 3"
          />
          <div class="overlay"><img src="../img/zoom.png" alt="zoom" /></div>
        </div>
      </div>
    </div>
    <div class="software-description"></div>
    <section id="contact">
      <div class="form">
        <div class="app-title">
          <span style="display: block">CONTACT</span>
          <span style="color: var(--purple)">US</span>
          <div class="line"></div>
          <div class="app-form">
            <div class="app-form-group">
              <input class="app-form-control" placeholder="NAME" />
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="EMAIL" />
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="CONTACT NO" />
            </div>
            <div class="app-form-group message">
              <input class="app-form-control" placeholder="MESSAGE" />
            </div>
            <div class="app-form-group buttons">
              <button class="checkout-btn" id="form-button">SEND</button>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-data">
        <ul>
          <li>
            <img src="../img/id-card.png" alt="" /><b>Name:</b>Imie Nazwisko
          </li>
          <li>
            <img src="../img/mail.png" alt="" /><b>Email:</b
            >nazwafirmy@gmail.com
          </li>
          <li>
            <img src="../img/telephone.png" alt="" /><b>Phone no.:</b>+48 123
            456 789
          </li>
          <li>
            <img src="../img/location.png" alt="" /><b>Address:</b>ul. Czarnucha
            12/2, Poznań
          </li>
        </ul>
      </div>
    </section>
    <div class="footerDiv"></div>
    <footer>
      <div class="footerContainer">
        <div class="contact-footer">
          <ul>
            <li>
              <img src="https://via.placeholder.com/30x30" alt="logo" />
              <p style="display: inline-block; margin-left: 10px">
                <b>Brand Name</b>
              </p>
            </li>
            <li>
              <img src="../img/mail.png" style="width: 20px" alt="mail icon" />
              <p style="display: inline-block; margin-left: 10px">
                email@email.com
              </p>
            </li>
            <li>
              <img
                src="../img/location.png"
                style="width: 20px"
                alt="location icon"
              />
              <p style="display: inline-block; margin-left: 10px">
                ul. Klonowa 10, Warszawa
              </p>
            </li>
          </ul>
        </div>
        <div class="segments">
          <div class="categories">
            Categories
            <ul>
              <li>
                <a href="../index.html#Home" class="smooth-scroll">Home</a>
              </li>
              <li>
                <a href="../index.html#team" class="smooth-scroll">Team</a>
              </li>
              <li>
                <a href="../index.html#projects" class="smooth-scroll"
                  >Projects</a
                >
              </li>
            </ul>
          </div>
          <div class="social">
            Social
            <ul>
              <li><a href="https://www.linkedin.com">Linkedin</a></li>
            </ul>
          </div>
        </div>

        <p id="copyrights">
          Copyright © 2023 by NAZWAFIRMY All Rights Reserved. <br />
          <a style="margin-right: 30px">Terms and Condition</a>
          <a>Privacy Policy</a>
        </p>
      </div>
    </footer>
    <script src="../js/projects-template.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>
